name: Pull Request CI
concurrency:
  group: pr-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
on:
  pull_request:
    branches:
      - "**"

jobs:
  build:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ci-setup
      - name: Run build
        run: pnpm run build
      - name: Run lint
        run: pnpm run lint
      - name: Run type check
        run: pnpm run check-types
